.main {
  display: flex;
  padding: 2rem;
  flex-direction: column;
}

.formContainer {
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.generalInformationContainer,
.educationContainer,
.experienceContainer {
  border: 1px solid black;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mainSections .left {
  margin: 5px;
}

input,
textarea {
  height: 2rem;
  border: 2px solid #e0e0e0;
  border-radius: 6px;
  font-size: 1rem;
  padding: 0.5rem;
}

textarea {
  height: 200px;
}
label {
  display: flex;
  flex-direction: column;
}

.photoInput {
  width: 180px;
  border: none;
}

.jobDescriptionInput {
  width: 180px;
}

img {
  width: 6rem;
}

.renderedResume {
  display: flex;
  flex-direction: column;
}

.generalInfo {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nameHeader {
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name {
  padding-left: 6px;
}

.educationInfo {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

h3 {
  text-align: center;
}

.experienceInfo {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.buttonContainer {
  display: flex;
  justify-content: space-around;
}
.submitBtn,
.editBtn {
  border: none;
  border-radius: 5px;
  width: 5rem;
  height: 2rem;
  cursor: pointer;
  font-weight: 600;
  background: #667eea;
  color: white;
  transition: background-color 0.5s;
}

.submitBtn:hover,
.editBtn:hover {
  background-color: #3e53b3;
}

@media screen and (min-width: 483px) {
  .educationContainer,
  .experienceContainer {
    display: flex;
    flex-direction: column;
  }
  .jobDescriptionInput {
    width: 95%;
  }
}
